/*------------------------------------------------------------------
[Main Stylesheet]

Project:    Traveller
Version:    1.0.0
-------------------------------------------------------------------*/

/** Global Classes **/
* {
	outline: none;
}

body {
	font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
	font-size: 1rem;
	background-color: #fff;
}

a, 
a:hover {
	color: #3e2051;
	text-decoration: none;
}

.form-control:focus {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
    box-shadow: none;
}

.bg-xplore {
	background-color: #070309;
}

.sect_title {
	color: #fff;
	font-weight: bold;
	font-size: 2.5rem;
	margin-bottom: 2rem;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Segoe UI', sans-serif;
}

/** Landing Page - Navbar **/
.navbar {
	padding: 1rem 0;
}

.navbar.sticky-nav {
	background-color: rgba(7,3,9, 0.8);
	padding: .5rem 0;
	padding-bottom: 1rem;
}

.navbar .navbar-brand img {
	height: 60px;
}

.navbar.sticky-nav .navbar-brand img {
	height: 45px;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar .nav-item {
	color: #fff;
	font-weight: bold;
	font-size: 1.2rem;
	padding-left: 2rem;
}

/** Landing Page - Hero Section **/
.hero {
	background: linear-gradient(rgba(7,3,9, 0.2), rgb(7,3,9) 700px), linear-gradient(to left, rgba(7,3,9, 0.1) 100%, rgb(7,3,9) 100%), url('../img/kace-rodriguez-p8F32o-S8iA-unsplash.jpg') center no-repeat;
	background-size: cover;
	padding-top: 200px;
	padding-bottom: 100px;
}

.hero .hero_sct {
	background: linear-gradient(rgba(37,19,48, 0.2), rgb(37,19,48) 700px), linear-gradient(to left, rgba(37,19,48, 0.1) 100%, rgb(37,19,48) 100%), url('../img/kace-rodriguez-p8F32o-S8iA-unsplash.jpg') center no-repeat;
	background-size: cover;
	height: 100vh;
	padding: 3rem 6rem;
}

.hero .hero_txt {
	max-width: 550px; 
}

.hero_txt h1 {
	margin-top: 4rem;
	font-size: 4rem;
	line-height: 5rem;
	color: #fff; 
	font-weight: bold;
}

.hero_txt p {
	font-size: 1.2rem;
	color: rgba(255, 255, 255, .75);
	margin-bottom: 200px;
}

/** Landing Page - About Section **/
.about p,
.xplore p {
	color: rgba(255, 255, 255, .75);
}

.about p,
.xplore p {
	font-size: 1.2rem;
}

.about {
	padding: 30px 0;
}

.about img {
	position: absolute;
	top: -400px;
}

.about .about_txt {
	padding-right: 5rem;
	
}

.about .about_txt p:last-child {
	margin-bottom: 4rem;
}

.about .learn_btn {
	margin: 0 auto;
	color: #fff;
	border-color: #3e2051;
	padding-top: 1rem;
	padding-bottom: 1.2rem;
	background-color: #3e2051;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.xplore {
	padding: 30px 0;
}

.xplore .desc {
	padding-bottom: 50px;
}

.xplore .gallery {
	height: 600px;
	width: 100%;
	position: relative;
}

.xplore .gallery .wrapper  {
	position: absolute;
	width: 300px;
	height: 300px;
}

.xplore .gallery .wrapper img {
	position: absolute;
	right: 0;
}

.xplore .gallery .hori_wrapper img {
	max-width: 400px;
}

.xplore .gallery .vert_wrapper img {
	max-width: 480px;
}

.xplore .gallery .first {
	left: 50px;
	top: -20px;
	z-index: 1;
}

.xplore .gallery .second {
	left: 0px;
	bottom: 0px;
	z-index: 2;
}

.xplore .gallery .third {
	right: 400px;
	top: -50px;
	z-index: 1;
}

.xplore .gallery .fourth {
	right: 100px;
	top: -350px;
	z-index: 0;
}

.xplore .gallery .fifth {
	right: 180px;
	bottom: -30px;
	z-index: 2;
}

.xplore .gallery img:last-child {
	left: 0;
}

/** Subscription Section **/
.get_updated {
	padding: 50px 0;
}

.get_updated .wrapper {
	max-width: 500px;
	margin: 0 auto;
}

.get_updated .sect_title {
	text-align: center;
}

.get_updated p {
	text-align: center;
	color: rgba(255, 255, 255, .75);
	font-size: 1.2rem;
	margin-bottom: 2rem;
}

.get_updated .form-control {
	text-align: center;
	background-color: transparent;
	border: none;
	border-bottom: solid 2px rgba(255, 255, 255, .85);
	margin-bottom: 2rem;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	font-size: 1.2rem;
	font-weight: bold;
	padding: 2rem;
}

.get_updated .update_btn {
	color: #fff;
	border-color: #3e2051;
	padding-top: 1rem;
	padding-bottom: 1.2rem;
	background-color: #3e2051;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/** Footer Section **/
.footer .top {
	padding: 2rem 0;
}

.footer .top p {
	font-size: 1.2rem;
}

.footer .top p,
.footer .top h3 {
	color: #fff;
}

.footer .top h3 {
  padding-bottom: 1.5rem;
}

.footer .top .menu ul > li {
	margin-bottom: 1rem;
}

.footer .top .menu ul > li a {
	color: #fff;
	font-size: 1.2rem;
}

.footer .bottom {
	display: flex;
	justify-content: space-between;
	padding: 1.5rem 0;
}

.footer .bottom p {
	color: #fff;
}

.social_links a {
	position: relative;
	padding: .55rem 1.2rem;
	border: rgba(255, 255, 255, 0.85) solid 3px;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	background-color: #3e2051;
	color: rgba(255, 255, 255, 0.75);
	margin-right: 1rem;
}

.social_links i {
	position: absolute;
	top: 30%;
	left: 30%;
}

.social_links .facebook i {
	left: 35%;
}

.social_links .facebook:hover {
	background-color: #3b5998;
}

.social_links .instagram:hover {
	background-color: #47769b;
}

.social_links .twitter:hover {
	background-color: #33ccff;
}

.social_links .youtube:hover {
	background-color: #bd081c;
}

/** Media Queries **/